@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


body {
    background-color: #FFF;
}
textarea, input, button, select {
    outline: none;
}
h1 {
    span {
        font-size: 60%;
    }
}
// Main
.main {
}

#menu-button {
    &:active {
        background-color: lighten($blue, 20%);
    }
}
.menu {
    position: relative;
    width: 100%;
    background-color: #333;
    color: #DDD;

    p {
        padding: 1rem;
    }
}

.model {
    margin-top: 5rem;
    display: block;
    background-color: #CCC;
    border: 1px solid #BBB;
    padding: 0.5rem;
    color: #666;
}
