@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


body {
    background-color: #FFF;
}
textarea, input, button, select {
    outline: none;
}
h1 {
    span {
        font-size: 60%;
    }
}
// Main
.main {
}

.small {
    font-size: 50%;
}

.medium {
    font-size: 100%;
}

.large {
    font-size: 150%;
}
